{% extends 'blog/base.html' %}

{% block content %}
    <br>
    <div class="w3-content w3-row-padding" style=max-width:1000px>
        <div class="w3-card-4">
            <div class="w3-hover-shadow">
                <div class="w3-container w3-center w3-blue-grey">

                    <h2>{{ post.title }}</h2>
                    <div>
                        {% if post.published_date %}
                            {{ post.published_date }}
                        {% endif %}
                    </div>
                <br>
                </div>
            </div>
            <div class="w3-padding-large">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    <hr>
    </div>

{% endblock %}