{% extends 'blog/base.html' %}


{% block content %}
    <br>
    <div class="w3-content  w3-row-padding" style=max-width:1000px>
        {% for post in posts %}
            <div class="w3-card-4 w3-animate-bottom">
                <div class="w3-hover-shadow">
                    <div class="w3-container w3-center w3-blue-grey">
                        <h2>
                            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                        </h2>
                        <div>
                            {{ post.published_date }}
                        </div>
                        <br>
                    </div>
                    <div class="w3-padding-large">
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                    <hr>
                    <div class="w3-right w3-margin-right">

                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}